@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", Georgia, serif;
  
  --color-brand-primary: #be123c; /* Rose 700 */
  --color-brand-light: #fff1f2; /* Rose 50 */
  --color-brand-dark: #4c0519; /* Rose 950 */
}

/* Custom global styles for custom scrollbar and romantic accentuation */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #fff1f2;
}
::-webkit-scrollbar-thumb {
  background: #fda4af;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f43f5e;
}

